* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: Lato, sans-serif;
}

.container {
}
.canvasContainer {
  position: relative;
  height: 800px;
  width: 80%;
}

.canvasContainer canvas {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.canvasContainer.loading .loadingOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: red;
  opacity: 0.5;
}

h1 {
  font-size: 5rem;
  margin: 0;
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

p {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}
