* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: Lato, sans-serif;
}

.container {
}

.canvasContainer {
  position: relative;
  height: 800px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  border: gray solid 3px;
}

.canvasContainer canvas {
  max-height: 100%;
  max-width: 100%;
  display: block;
}

.canvasContainer.loading .loadingOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: red;
  opacity: 0.5;
}

.draggingOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray;
  opacity: 0.5;
  color: black;
  display: none;
  text-align: center;
}

.canvasContainer.empty .draggingOverlay,
.canvasContainer.dragging .draggingOverlay,
.canvasContainer.enter .draggingOverlay {
  display: block;
}

.canvasContainer.dragging {
  background-color: pink;
  border: red dotted 3px;
}

.canvasContainer.enter {
  background-color: red;
  border: red solid 3px;
}

.imgSelector {
  display: flex;
  height: 100px;
  width: 80%;
  position: relative;
  justify-content: space-around;
  margin: 0 auto;
}

.selector {
  width: 100px;
  height: 100px;
  border: gray solid 3px;
  position: relative;
  cursor: pointer;
}

.selector:hover {
  background-color: red;
}

.selector img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fas {
  color: black;
  font-size: 50px;
  display: block !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

h1 {
  font-size: 5rem;
  margin: 0;
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

p {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}
